<div class="register-header-wrapper">
  <h2>Create new Account</h2>
</div>
<form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>Username</mat-label>
    <input formControlName="email" matInput placeholder="Username" />
    <mat-error *ngIf="fieldHasError('email')">
      {{ getErrorMessage("email") }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>Fullname</mat-label>
    <input formControlName="fullName" matInput placeholder="Fullname" />
    <mat-error *ngIf="fieldHasError('fullName')">
      {{ getErrorMessage("fullName") }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>Password</mat-label>
    <input
      formControlName="password"
      matInput
      placeholder="Password"
      [type]="showPassword ? 'text' : 'password'"
    />
    <!-- SHOW AND HIDE PASSWORD -->
    <button
      color="accent"
      matSuffix
      mat-icon-button
      [attr.aria-label]="showPassword ? 'Hide' : 'Show'"
      (click)="showPassword = !showPassword"
      type="button"
    >
      <mat-icon>{{ showPassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <!-- SHOW AND HIDE PASSWORD -->
    <mat-error *ngIf="fieldHasError('password')">
      {{ getErrorMessage("password") }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="d-block mb-2">
    <mat-label>Password Repeat</mat-label>
    <input
      formControlName="passwordConfirm"
      matInput
      placeholder="Password Repeat"
      [type]="showPassword ? 'text' : 'password'"
    />
    <mat-error *ngIf="fieldHasError('passwordConfirm')">
      {{ getErrorMessage("passwordConfirm") }}
    </mat-error>
  </mat-form-field>

  <div class="d-flex justify-content-center">
    <button
      class="px-5"
      mat-raised-button
      color="primary"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
  </div>
  <div class="navigation-link">
    <b>Already registered? <a [routerLink]="['/auth/login']">Login here</a></b>
  </div>
</form>
