<div class="add-button-wrapper">
  <button
    mat-fab
    matTooltip="Create New User"
    color="primary"
    (click)="createNewUser()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<ng-container *ngIf="userList && userList.length">
  <ng-container *ngIf="userList.length > 0; else noItemTemplate">
    <user-table
      [userList]="userList"
      (update)="updateUser($event)"
      (delete)="deleteUser($event)"
    ></user-table>
  </ng-container>
  <ng-template #noItemTemplate>
    <div class="alert alert-warning">
      <p>User list have no item</p>
    </div>
  </ng-template>
</ng-container>
