<mat-toolbar>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="app-logo">
        <!-- ! Logo should be svg or shoud as srcset -->
        <img
          src="assets/images/logo-header.png"
          alt="site-logo"
          loading="lazy"
          height="30px"
        />
      </div>
      <div class="toolbar-navigation">
        <ng-container *ngIf="currentUser | async as user;else noUser">
          <a
            mat-icon-button
            [routerLink]="['/']"
            matTooltip="Home"
            color="primart"
          >
            <mat-icon>home</mat-icon>
          </a>
          <a
            mat-icon-button
            [routerLink]="['/user-list']"
            matTooltip="User List"
            color="primart"
            *ngIf="user.role>1"
          >
            <mat-icon>group</mat-icon>
          </a>
          <!-- USER MENU -->

          <button
            matTooltip="User Menu"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="User Menu"
          >
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon>person</mat-icon>
              <span>{{ user?.fullName }}</span>
            </button>
            <button mat-menu-item (click)="logOut()">
              <mat-icon color="warn">logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </ng-container>
        <ng-template #noUser>
          <button
            matTooltip="User Menu"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="User Menu"
          >
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
              <mat-icon>no_accounts</mat-icon>
              <span>Deleted User</span>
            </button>
            <button mat-menu-item (click)="logOut()">
              <mat-icon color="warn">logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </ng-template>

      </div>
    </div>
  </div>
</mat-toolbar>
